In [42]:
%load_ext sql
%sql sqlite:///auction.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @auction.db'

In [50]:
%%sql
select count(*) totalNumUsers from Person;

 * sqlite:///auction.db
Done.

[(13422,)]

In [52]:
%%sql
select count(*) numUsersFromNewYork from person 
where location = "New York";

 * sqlite:///auction.db
Done.

[(80,)]

In [53]:
%%sql
select count(*) numAuctionsFourCats from 
    (select item, count(*) count
    from category
    group by item) num_categories
where num_categories.count = 4;

 * sqlite:///auction.db
Done.

[(8365,)]

In [46]:
%%sql

select id as [id(s)] from item
where CAST(item.currently AS INT) = (select max(CAST(currently AS INT)) from item)

 * sqlite:///auction.db
Done.

[(1046871451,)]

In [55]:
%%sql

select count(distinct item.seller) numSellersRatingAbv1000
from item, person
where item.seller = person.id
and person.rating > 1000;

 * sqlite:///auction.db
Done.

[(3130,)]

In [57]:
%%sql

select count(distinct item.seller) numUsersBothSellerBidder
from person, item, bid
where person.id = item.seller
and person.id = bid.bidder

 * sqlite:///auction.db
Done.

[(6717,)]

In [59]:
%%sql

select count(distinct category.name) numCats
from category,
    (select distinct item.id, bid.amount
    from item, bid
    where bid.bid_on = item.id
    and CAST(bid.amount AS INT) > 100) items
where items.id = category.item

 * sqlite:///auction.db
Done.

[(150,)]