In [1]:
%load_ext sql
%sql sqlite:///auction.db

'Connected: @auction.db'

In [5]:

select count(*) from Item;

 * sqlite:///auction.db
Done.

[(9419,)]

In [9]:
%%sql
select count(*) from Bid;

 * sqlite:///auction.db
Done.

[(9874,)]

In [7]:
%%sql
select count(*) from Person;

 * sqlite:///auction.db
Done.

[(11639,)]

In [8]:
%%sql
select count(*) from Category;

 * sqlite:///auction.db
Done.

[(90269,)]

In [22]:
%%sql
select count(*) from person
where location = "New York"

 * sqlite:///auction.db
Done.

[(38,)]

In [33]:
%%sql
select count(*) from 
    (select item, count(*) count
    from category
    group by item) num_categories
where num_categories.count = 4

 * sqlite:///auction.db
Done.

[(8365,)]

In [39]:
%%sql
select max(currently) from item

 * sqlite:///auction.db
Done.

[('USA',)]